body {
    background-color: #1b1b1b;
    color: #fff;
    margin: 0px;


}

#corpo {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #000
}

i {
    font-size: 25px;
    color: #fa3a89;
}

.img-perfil {
    border: solid #fa3a89 2px;
    border-radius: 50%;
}